
/* Google Web Fonts */
@import url(/employee/css/vendor/google/opensans.css);

/* We Love Icon Fonts */
@import url(/employee/css/vendor/weloveiconfonts/fontawesome.css);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}