/* Google Web Fonts */
@import url(/employee/css/vendor/google/opensans.css);

/* We Love Icon Fonts */
/* @import url(/employee/css/vendor/weloveiconfonts/fontawesome.css);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
} */

/*=============================================================================
 = body
 ============================================================================*/
body {
    background: #fafafa;
    color: #333;
    font: 400 87.5%/1.5em 'Open Sans', sans-serif;
    min-width: 320px;
}

h1 {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding: 1.375rem 0;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.3em;/*文字周りの余白*/
    margin: 8px 0;
    color: #494949;/*文字色*/
    /* background: #fffaf4;*//*背景色 */
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

table th, table td {
    vertical-align: middle;
}

table th {
    font-weight: bold;
}

/*=============================================================================
 = header
 ============================================================================*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-wrapper {
    display: flex;
    height: 50px;
    background: #fbfafa;
    border-bottom: solid 1px #ebe6e4;
    align-items: center;
    position: relative;
}

.header-wrapper .header-menu {
    margin: 0 14px 0 20px;
}

.header-wrapper .header-logout {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*=============================================================================
 = footer
 ============================================================================*/
.footer-wrapper {
    /* empty */
}

/*=============================================================================
 = common
 ============================================================================*/

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

/* 立体ボタン */
.btn-square-pop {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #fff;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
.btn-square-pop:hover {
    color: #fff;
    text-decoration: none;
}
.btn-square-pop:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    color: #fff;
    text-decoration: none;
}

.success_message {
    text-align: center;
    color: #00c821;
    font-weight: bold;
}

.error_message {
    text-align: center;
    color: #f00;
    font-weight: bold;
}

/* Datepicker */
.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
    color: #f00;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
    color: #00f;
}

/*=============================================================================
 = main
 ============================================================================*/
.main-wrapper {
    margin: 50px 5px 10px;
}