.file_sharing section {
    width: 100%;
    max-width: 600px;
    min-width: 310px;
    margin: 5px auto 50px;
}

.file_sharing table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 0 15px -6px #00000073;
}

.file_sharing table tr {
    background-color: #fff;
}
.file_sharing table tr:nth-child(even){
    background-color: #eee;
}

.file_sharing table tbody tr:hover {
    background-color: #fffae9;
}

.file_sharing table th,
.file_sharing table td {
    padding: .35em 1em;
    border-bottom: 1px solid #eee;
}

.file_sharing table thead th {
    font-size: 1.05em;
    padding: 5px;
    text-align: center;
}

.file_sharing table thead tr {
    background-color: #FFC107;
    color:#fff;
}

.file_sharing table tbody td {
    text-align: center;
    color: #000;
    font-size: 0.95em;
    word-break: break-all;
}

.file_sharing table tbody td.share_file_name {
    text-align: left;
}

.file_sharing table tbody td.delete_button {
    padding: 0;
}

.file_sharing table tbody td a {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.file_sharing .success_message {
    text-align: center;
    color: #00c821;
    font-weight: bold;
}

.file_sharing .error_message {
    text-align: center;
    color: #f00;
    font-weight: bold;
}

.file_sharing .ico_download {
    position: relative;
}
.file_sharing .ico_download::before {
    content: "";
    background-image: url(/employee/image/icon-download.svg); /*背景画像のパス*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    position: absolute;
    top: 4px;
    left: 6px;
    width: 12px;
    height: 12px;

}

.file_sharing .ico_trash::before {
    content: "";
    background-image: url(/employee/image/icon-trash.svg); /*背景画像のパス*/
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
}

/* ファイルアップロード */
.file_sharing .file_upload input[type="checkbox"] {
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.file_sharing .file_upload input[type="button"] {
    width: 50px;
}

.file_sharing .file_upload td.share_checkbox {
    text-align: left;
    width: 30%;
}

.file_sharing .file_upload td.share_checkbox label {
    display: inline-block;
    margin: 0;
    min-width: 90px;
    vertical-align: middle;
    word-break: keep-all;
}

.file_sharing .file_upload td.share_selectbox {
    text-align: left;
    width: 70%;
}

.file_sharing .file_upload td.share_selectbox span {
    vertical-align: middle;
}

.file_sharing .file_upload td.share_file_select input[type="file"] {
    width: 260px;
}
.file_sharing .file_upload td.share_file_select input[type="submit"] {
    width: 50px;
}
@media screen and (max-width: 410px) {
    .file_sharing .file_upload td.share_file_select input[type="file"] {
        width: 70%;
        max-width: 260px;
    }
    .file_sharing .file_upload td.share_file_select input[type="submit"] {
        width: calc(30% - 10px);
        max-width: 50px;
    }
}

/*=============================================================================
 = SumoSelect
 ============================================================================*/
 /* 全体 */
.file_sharing .file_upload td.share_selectbox div.SumoSelect {
    vertical-align: middle;
}
@media screen and (max-width: 410px) {
    .file_sharing .file_upload td.share_selectbox div.SumoSelect {
        max-width: 200px;
        width: 100%;
    }
}
/* 「Select All」 */
.file_sharing .file_upload td.share_selectbox div.SumoSelect p.select-all {
    box-sizing: content-box;
}
/* 全選択の文言 */
.file_sharing .file_upload td.share_selectbox div.SumoSelect .CaptionCont {
    font-size: 0.9em;
}