.work_report section {
    width: 100%;
    max-width: 600px;
    min-width: 310px;
    margin: 5px auto 50px;
}

.work_report .col-form-label,
.work_report p {
    font-size: 1rem;
}

.work_report .success_message,
.work_report .error_message {
    font-size: 0.875rem;
}

/*=============================================================================
 = .work_report_monthly
 ============================================================================*/
.work_report .work_report_monthly .yyyymm {
    min-width: 180px;
    max-width: 200px;
}

.work_report .work_report_monthly .yyyymm .input-group-append {
    cursor: pointer;
}

.work_report .work_report_monthly table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 15px -6px #00000073;
}

.work_report .work_report_monthly table thead th {
    font-size: 1.05rem;
    padding: 5px;
    text-align: center;
}

.work_report .work_report_monthly table tbody td {
    text-align: center;
    color: #000;
    font-size: 1rem;
    word-break: break-all;
}

/*=============================================================================
 = .work_report_daily
 ============================================================================*/
@media (min-width: 360px) {
    .work_report .work_report_daily button.d-none {
        display: block!important;
    }
    .work_report .work_report_daily button.d-block {
        display: none!important;
    }
}

.work_report .work_report_daily .day {
    width: 50px;
    text-align: center;
}

.work_report .work_report_daily div.table-responsive {
    box-shadow: 0 0 15px -6px #00000073;
}

.work_report .work_report_daily table {
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.work_report .work_report_daily table col:nth-of-type(1) {
    width: 30px;
}
.work_report .work_report_daily table col:nth-of-type(2) {
    width: 45px;
}
.work_report .work_report_daily table col:nth-of-type(3),
.work_report .work_report_daily table col:nth-of-type(4),
.work_report .work_report_daily table col:nth-of-type(5),
.work_report .work_report_daily table col:nth-of-type(6),
.work_report .work_report_daily table col:nth-of-type(7),
.work_report .work_report_daily table col:nth-of-type(8),
.work_report .work_report_daily table col:nth-of-type(9) {
    width: 70px;
}
.work_report .work_report_daily table col:nth-of-type(10) {
    width: 500px;
}

.work_report .work_report_daily table thead th,
.work_report .work_report_daily table tbody td {
    padding-left: .35rem;
    padding-right: .35rem;
    text-align: center;
}

.work_report .work_report_daily table thead th {
    height: 40px;
    padding-top: .42rem;
    padding-bottom: .42rem;
    vertical-align: middle;
}

.work_report .work_report_daily table tbody td {
    font-size: 1rem;
    height: 20px;
}

.work_report .work_report_daily table tbody td.number {
    text-align: right;
}

.work_report .work_report_daily table tbody td.text {
    text-align: left;
}